USE [master]
GO
/****** Object:  Database [PcAcc]    Script Date: 22.03.2023 9:17:54 ******/
CREATE DATABASE [PcAcc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PcAcc', FILENAME = N'C:\Users\311-5(student)\PcAcc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PcAcc_log', FILENAME = N'C:\Users\311-5(student)\PcAcc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PcAcc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PcAcc]
GO
USE [PcAcc]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 22.03.2023 9:17:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Clients_name] [nchar](10) NOT NULL,
	[Clients_Password] [nchar](10) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Clients_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22.03.2023 9:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Orders_id] [int] NOT NULL,
	[Orders_date] [nchar](10) NULL,
	[OrdersStatus] [nchar](10) NULL,
	[Workers_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Orders_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22.03.2023 9:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[IdProduct] [int] NOT NULL,
	[Dicriptions] [nvarchar](50) NULL,
	[Price] [nvarchar](50) NULL,
	[NameProduct] [nvarchar](50) NULL,
	[TypeIdFk] [int] NULL,
	[Articul] [varchar](50) NULL,
 CONSTRAINT [PK_PcAccess] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsSettings]    Script Date: 22.03.2023 9:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductIdFk] [int] NULL,
	[IdSetting] [int] NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 22.03.2023 9:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[IdSetting] [int] IDENTITY(1,1) NOT NULL,
	[NameSetting] [nvarchar](max) NULL,
 CONSTRAINT [PK_Settings_1] PRIMARY KEY CLUSTERED 
(
	[IdSetting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProduct]    Script Date: 22.03.2023 9:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProduct](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TypeProduct] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 22.03.2023 9:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Workers_Name] [nvarchar](50) NOT NULL,
	[Workers_Exp] [nvarchar](50) NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[Workers_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Workers] FOREIGN KEY([Workers_name])
REFERENCES [dbo].[Workers] ([Workers_Name])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Workers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_ProductsSettings_TypeProduct] FOREIGN KEY([TypeIdFk])
REFERENCES [dbo].[TypeProduct] ([IdType])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_ProductsSettings_TypeProduct]
GO
ALTER TABLE [dbo].[ProductsSettings]  WITH CHECK ADD  CONSTRAINT [FK_ProductsSettings_Settings] FOREIGN KEY([IdSetting])
REFERENCES [dbo].[Settings] ([IdSetting])
GO
ALTER TABLE [dbo].[ProductsSettings] CHECK CONSTRAINT [FK_ProductsSettings_Settings]
GO
ALTER TABLE [dbo].[ProductsSettings]  WITH CHECK ADD  CONSTRAINT [FK_Settings_ProductsSettings] FOREIGN KEY([ProductIdFk])
REFERENCES [dbo].[Products] ([IdProduct])
GO
ALTER TABLE [dbo].[ProductsSettings] CHECK CONSTRAINT [FK_Settings_ProductsSettings]
GO
USE [master]
GO
